.destinos {
    width:100%;
    max-width: 1024px;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.titulo-destino {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.titulo-destino h2{
    font-size: 2rem;
    font-weight: bold;
    color: #1F336A; 
 }

.lista-destinos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em 0 3em 0;
}

.icone {
    width: 70px;
    align-self: flex-start;
}

.subtitulo{
    display: flex;
    justify-content: center;
    padding-top: 1rem;  
    padding-bottom: 2rem;  
    font-size: 1.2em;
}

.caixa-lista-destinos { 
    display: flex;
    flex-direction: column;
    width: 15%; 
    border-radius: 8px;
    justify-content: space-between;    
    box-shadow: 0px 2px 5px rgba(31, 51, 106, 30%);
} 

.caixa-lista-destinos img { 
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px; 
    width: 100%; 
} 

.caixa-lista-destinos h3 { 
    text-align: center; 
    font-weight: bold;
    font-size: 18px;
    margin: 8px;
    font-style: italic;
}

.caixa-lista-destinos p { 
    text-align: center;
    text-justify:distribute-all-lines;
    padding: 5px 0 3px;
 }

.orcamento {
    justify-content: center;
    text-align: center;
    width: 25%;
    padding: 10px;
    font-weight: bold;
    border: 2px solid #1F336A;
    color: #1F336A;
    border-radius: 8px;
    transition-duration: .4s;
}  

.orcamento:hover{
    background: #1F336A;
    color:white;
    transition-duration: .4s;
    transition-timing-function: linear;
    cursor: pointer;
}